<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<body>
<div layout:fragment="content">

    <div class="row content">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Register
                </div>
                <div class="card-body">
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title:</span>
                            <input class="form-control" type="text" name="title" placeholder="board 제목을 입력해주세요">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content:</span>
                            <textarea class="form-control col-sm-5" rows="5"  name="content"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"> Writer:  </span>
                            <input class="form-control" type="text" name="writer">
                        </div>

<!-- 첨부 이미지 작업 -->
                        <div class="mb-3 input-group">
                            <span class="input-group-text">첨부파일:  </span>
                            <div class="uploadHidden">
                                <!--첨부한 이미지의 요소를 첨부할 예정. 서버 전달용이라서, -->
                                <!-- 숨겨 두기.-->
                                <button type="button" class="btn btn-primary uploadFileBtn">파일추가</button>
                            </div>
                        </div>

                        <!--                        첨부한 이미지 섬네일 화면 미리보기 영역, -->
                        <div class="row mt-3">
                            <div class="col">
                                <div class="d-flex uploadResult" style="flex-wrap: wrap">

                                </div>
                            </div>
                        </div>
                        <!--                        첨부할 이미지 모달창 추가,(화면에 출력되어있지만 가려진 상태)-->
                        <!--    첨부 파일 업로드 하는 폼 , 모달창 필요함. -->
                        <!--    댓글 작성 모달 창 폼-->
                        <!-- Modal -->
                        <div class="modal uploadModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>업로드 파일</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <!--                        <span class="input-group-text">첨부 파일</span>-->
                                            <input type="file" name="files"
                                                   class="form-control" multiple></input>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary closeRegisterBtn" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--모달창 끝-->

                        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                        <script src="/js/upload.js"></script>

                        <div>
                            <button class="btn btn-primary submitBtn" type="submit">등록하기</button>
                            <button class="btn btn-secondary" type="reset">초기화</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log("서버로부터 받은 유효성 체크 오류 : ", errors)

    let errorMsg = ''
    if(errors) {
        for ( let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}는 : ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 파일 업로드 작업
    // 순서1, 첨부 파일 업로드 모달창 띄우기.
    const uploadModal = new bootstrap.Modal(
        document.querySelector(".uploadModal")
    )
    document.querySelector(".uploadFileBtn").addEventListener("click",
        function (e) {
            e.stopPropagation();
            e.preventDefault();
            uploadModal.show();
        },false)


</script>
</body>
</html>